body {
    background-color: #377381;
}

.container {
    display: flex;
    align-content: center;
    width: 500px;
    height: 500px;
    margin: auto;
    width: 90%;
   
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.profile-details {
    background: #f2f2f2;
    padding: 5px;
    width: 800px;
    height: 850px;
    margin-top: 10px;
    font-size: 2em;
    text-align: center;
  }

.profile-activities {
    background: #f2f2f2;
    padding: 5px;
    width: 400px;
    height: 850px;
    margin-top: 10px;
    font-size: 2em;
    color: black;
}

ul {
    list-style:none;
    padding:0;
    margin:0;
    background-color: #f2f2f2;
}

.activity {
    width: 366px;
    height: 100px;
    margin: 5px;
    padding-left:10px;
    margin-bottom: 10px;
    background:white;
}

.listWrapper {
    max-height:750px;
    overflow-y:auto;
}